.header-container {
  max-width: 100%;
  min-width: 60rem;
  margin: auto;


  background-image: url("https://randomsightsdotcom.files.wordpress.com/2012/05/paintedforestpanorama1-edit.jpg");
  background-size: auto;


}

.header-container_inner-container {




}

.header-title {
  text-align: center;
  color: silver;



}


.top-nav {




}

.top-nav_items {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;

}

.button {
  width: 5rem;
  height: 1rem;

}
