<body>
<div class="header-container">
  <div class="header-container_inner-container">
    <h1 class="header-title"> The Silver Shop</h1>
    <div class="sub_header-title">
      <h2 class="sub-title"> Your choice for Native American jewelry and collectibles!</h2>
    </div>
    <div class="top-nav">
      <div class="top-nav_items">
        {{!-- <div class="item_home">
        <button class="button">Home</button>
      </div> --}}
      <div class="item_necklaces">
        {{!-- {{#link-to "body.necklaces"}} --}}
        <button class="button">Necklaces</button>
        {{!-- {{/link-to}} --}}
      </div>
      <div class="item_bracelets">
        <button class="button">Bracelets</button>
      </div>
      <div class="item_pendants">
        <button class="button">Pendants</button>
      </div>
      <div class="item_dreamcatchers">
        <button class="button">Dream Catchers</button>
      </div>
      </div>
      {{!-- <div class="top-nav_items">
        <button class="button">Home</button>
        <button class="button">Necklaces</button>
        <button class="button">Bracelets</button>
        <button class="button">Pendants</button>
        <button class="button">Dream Catchers</button>
      </div> --}}
    </div>
  </div>
</div>

<div class="main-container">
  <div class="side-menu">
    {{!-- <div class="side-menu_title"> --}}
      <h2 class="about">About</h2>
    {{!-- </div> --}}
    <div class="about_content">
    <p>The Silver Shop was started in 1900, in part due to our love of the American Southwest.<br>
       Our goal has always been to offer the best quality Native American merchandise we could find.<br>
       We offer a wide variety of items, necklaces, pendants, bracelets and dream catchers to name but a few.<br>

    </p>
  </div>
  </div>
  <div class="main-content">
    <div class="main-title">
      <h2>main content type stuff</h2>
    </div>
    <div class="store-items">
      {{!-- <div class="row"> --}}
        {{!-- <div class="item">
          <img src="http://nativeyouthmagazine.com/images/jewelry.jpg" alt="">
        </div> --}}
        {{!-- <div class="item">
          <img src="http://www.horsekeeping.com/jewelry/jewelry%20-montage-1-400w.jpg" alt="">
        </div>
        <div class="item">
          <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSnj0nJW_9SlMgrVfSJ_STlTfKjm_uIYMovOC0SAtjsoGxYyHgI6Q" alt="">
        </div>
        <div class="item">
          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT_F6-B8ZIQyV00_DCgtQX7VjLnP24FrvhTIjEoBx_z6xhi4zOBTg" alt="">
        </div>
      </div> --}}

      {{outlet}}

    </div>
  </div>
</div>
<div class="footer">
  <h2>The silver shop</h2>
  <h3>555 Pilgrim Road #2</h3>
  <h3>Germantown, WI 53022</h3>

</div>
</body>
