<div class="header-container">
  <div class="header-container_inner-container">
    <h1 class="header-title"> The Silver Shop</h1>
    <div class="sub_header-title">
      <h2 class="sub-title"> Your choice for Native American jewelry and collectibles!</h2>
    </div>
    <div class="top-nav">
      <div class="top-nav_items">
        <button class="button">Home</button>
        <button class="button">Necklaces</button>
        <button class="button">Bracelets</button>
        <button class="button">Pendants</button>
        <button class="button">Dream Catchers</button>
      </div>
    </div>
  </div>
</div>

<div class="main-container">
  <div class="side-menu">
    <div class="side-menu_title">
      <h2>Menu</h2>
    </div>
    <div class="information">
      <div class="about">
      <button class="button">About</button>
    </div>
    <div class="about2">
      <button class="button">About2</button>
    </div>
    <div class="fun_links">
      <button class="button">Fun Links</button>
    </div>
    </div>
  </div>
  <div class="main-content">
    <div class="main-title">
      <h2>main content type stuff</h2>
    </div>
    <div class="store-items">
      <div class="row">
        <div class="item">
          <img src="http://nativeyouthmagazine.com/images/jewelry.jpg" alt="">
        </div>
        <div class="item">
          <img src="http://www.horsekeeping.com/jewelry/jewelry%20-montage-1-400w.jpg" alt="">
        </div>
        <div class="item">
          <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSnj0nJW_9SlMgrVfSJ_STlTfKjm_uIYMovOC0SAtjsoGxYyHgI6Q" alt="">
        </div>
        <div class="item">
          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT_F6-B8ZIQyV00_DCgtQX7VjLnP24FrvhTIjEoBx_z6xhi4zOBTg" alt="">
        </div>
      </div>

      {{outlet}}

    </div>
  </div>
</div>
